.form-group{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: max-content;
    /* grid: repeat(3, 1fr) / max-content; */
    grid-template-areas:"case1 case2 case3";
    margin: 10px 5px 10px 5px;
}

.form-item{
    margin: 0 10px 0 0;
    padding: 0 5px 10px 0;
}

.grid-item1{
    grid-area: case1;
}
.grid-item2{
    grid-area: case2;
}
.grid-item3{
    grid-area: case3;
}

.form-item input{
    width: 100%;
}